*{
    margin: 0;
    font-family: serif; /* font family */
    border: border-box;
}
body{
    color: whitesmoke;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    background-image: url("photos/bookingFormImg.jpg");
    background-size:cover;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
.main-booking-header{
    min-height: 100%;
    display: block;
    background: linear-gradient(to top, rgba(30, 30, 179, 0.3)20%, rgb(137, 137, 196,0.4)40%, rgba(255,255,255,0.4)70%)
}
.booking-form-text-main{
    min-height: 600px;
    height: auto;
    width:100%;
    display: flex;
    align-items: self-start;
    position: absolute;     /*div ko center main lane k liye*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.booking-form-text{
    height: 100vh;
    width: 50%;
    background-color: rgba(34, 47, 115,0.88);
}
form{
    border-radius: 10px;
    border: 2px solid whitesmoke;
    margin: 8px;
    width: 60%;
    height: 80%;
    
}
form label{
    font-size: 1.2rem;
    font-weight: 560;

}
form input{
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 2px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    outline: none; 
}
form select{
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 2px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    outline: none; 
}

.btn:hover{
    background-color: #eee1ad;
    scale: 1;
    box-shadow: 0px 0px 13px 2px #97989c;
}

.swiper{
    height: 35%;
    width: 82%;
    position: absolute;
    margin-right: 30%;
    right: 8%;
    border-radius: 8px;
}
.swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
}
