*{
    margin: 0;
    font-family: serif; /* font family */
    border: border-box;
}
body{
    color: whitesmoke;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    background-image: url("photos/bookingFormImg.jpg");
    background-size:cover;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
.dashboard-main-div{
    min-height: 120vh;
    height: auto;
    display: block;
    background-color: rgba(34, 47, 115,0.88);
    padding-top: 2%;
    padding-left: 4%;
}
table{
    min-width: 96%;
    min-height: auto;
    border: 2px solid whitesmoke;
    text-align: center;
}
table tr{
    font-size: 1.5rem;
    font-weight: 400;
}
table td{
  padding: 10px ;  /* gives space between boundaries and content */
  font-size: 1.07rem;
}

 .formshow{
    min-height: auto;
    min-width:50%;
    border-radius: 25px;
}

form{
    border-radius: 10px;
    border: 2px solid whitesmoke;
    margin: 2%;
    width: 30%;
    height: 80%;
}
form label{
    font-size: 1.2rem;
    font-weight: 560;

}
form input{
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 2px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    outline: none; 
}
form select{
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 2px;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    outline: none; 
}

.btn:hover{
    background-color: #eee1ad;
    scale: 1;
    box-shadow: 0px 0px 13px 2px #97989c;
}